#imagecss{
    width: 70px;
}
#emoji{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

#retour{
    margin: 25px;
}

.bg
{

    background-color: navy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.lien
{
    margin:50px;
}