#imagecss{
    width: 70px;
}
#logo{
    width: 200px;
}
#emoji{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

#retour{
    margin: 25px;
}

#bg
{

    background-color: rgb(4, 45, 116);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
}

.lien
{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

#form
{
    color: white;
}
#deconnexion
{
    margin: 50px;
}
#form
{
    color: aliceblue;
}
#myChart
{
    height: 600px !important;
    width: 1200px !important;
}